@use "../../scss/main" as *;

.footer-container {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #17beff;
    border-bottom: 2px solid #17beff;
    padding: 30px 0;
    flex-wrap: wrap;

    h1 {
        font-family: RacingSansOne;
        color: #17beff;
        margin-bottom: 10px;
    }

    p {
        font-family: Montserrat;
        width: 230px;
    }

    .our-services,
    .projects,
    .address {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;

    p {
        font-family: Montserrat;
    }

    .social-media {
        display: flex;
        gap: 20px;
    }
}

@media screen and (max-width: 769px) {
    .footer-container {
        p {
            font-size: 14px;
        }
    }
    .footer-bottom {
        p {
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 426px) {
    .footer-container {
        justify-content: center;
        text-align: center;
    }

    .footer-bottom {
        flex-wrap: wrap;
    }
}
