@use "../../../../scss/main" as *;

.safetyPolicySec {
    margin-block: 40px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        margin-block: 0px;
    }

    .contentWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
        flex-wrap: wrap;
        gap: 40px;

        .bottomSec {
            display: flex;
            gap: 60px;
            flex-wrap: wrap;
            justify-content: center;

            .leftSec {
                max-width: 600px;
                display: flex;
                flex-direction: column;
                gap: 50px;

                .content {
                    display: flex;
                    align-items: start;
                    gap: 30px;

                    .bullet {
                        font-size: 25px;
                        background: linear-gradient(
                            239.53deg,
                            #17beff 18.52%,
                            #0e7299 80.32%
                        );
                        padding: 2px 12px;
                        border-radius: 50%;
                    }
                    p {
                        font-family: Poppins-Regular;
                        letter-spacing: 1;
                    }
                }
            }

            .rightSec {
                max-width: 600px;
                display: flex;
                flex-direction: column;
                gap: 50px;

                .content {
                    display: flex;
                    align-items: start;
                    gap: 30px;

                    .bullet {
                        font-size: 25px;
                        background: linear-gradient(
                            239.53deg,
                            #17beff 18.52%,
                            #0e7299 80.32%
                        );
                        padding: 2px 12px;
                        border-radius: 50%;
                    }

                    p {
                        font-family: Poppins-Regular;
                        letter-spacing: 1;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 769px) {
    .safetyPolicySec {
        .contentWrapper {
            .bottomSec {
                gap: 25px;

                .leftSec, .rightSec {
                    gap: 25px;
                }
            }
        }
    }
}


@media screen and (max-width: 426px) {
    .safetyPolicySec {
        margin-block: 0 80px;
        .title {
        }
        .mobImgWrapper {
            img {
                width: 250px;
                height: 250px;
            }
        }
        .contentWrapper {
            gap: 20px;
            .leftSec {
                gap: 20px;
                padding-inline: 20px;
                .content {
                    .bullet {
                        display: none;
                    }
                    p {
                        font-size: 14px;
                        text-align: center;
                    }
                }
            }
            .rightSec {
                gap: 20px;
                padding-inline: 20px;
                .content {
                    .bullet {
                        display: none;
                    }
                    p {
                        font-size: 14px;
                        text-align: center;
                    }
                }
            }
        }
    }
}
