@use "../../../scss/main" as *;

.careerOpportunitiesSec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    
    .title {
        background: linear-gradient(90deg, #ffffff, #048dc3 );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 60px;
    }
    .contents {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 150px;
        flex-wrap: wrap;

        
        .rightSec {
            max-width: 600px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            
            .textContent {
                display: flex;
                align-items: start;
                gap: 30px;
                
                .icon {
                    padding: 10px 15px;
                    background: linear-gradient(30deg, #0a455d, #073244);
                    font-family: RacingSansOne;
                    font-size: 25px;
                    border: 4px solid;
                    border-radius: 10px;
                    border-image: linear-gradient(45deg, #0d5673, #0E7299) 1;
                }

                .text {
                    font-family: Poppins-Regular;
                    font-size: 18px;      
                    letter-spacing: 1;              
                }
            }
        }
    }
}
@media screen and (max-width: 1440px) {
    .careerOpportunitiesSec {
        .contents {
            gap: 80px;
        }
    }
}

@media screen and (max-width: 769px) {
    .careerOpportunitiesSec {
        .title {
            margin-bottom: 20px;
        }
        .contents {
            .rightSec {
                .textContent {
                    .text {
                        font-size: 16px;
                    }
                    .icon {
                        padding: 5px 10px;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .careerOpportunitiesSec {
        .title {
            font-size: 40px;
            line-height: 1;
            margin-bottom: 0px;
        }

        .contents {
            .rightSec {
                .textContent {
                    .text {
                        // text-align: center;
                    }
                    .icon {
                        display: none;
                    }
                }
            }
        }
    }
}