@use "../../../../scss/main" as *;

.completedHeroSec {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 50px;
    padding: 100px 0 0 0;
    flex-wrap: wrap;
    background-size: cover;
    
    .container {
        display: flex;
        justify-content: center;
        width: 600px;
        
        .contents {
            max-width: 600px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 25px;

            .title {
                font-family: RacingSansOne;
                font-size: 42px;
                letter-spacing: 1;
                background: linear-gradient(90deg, #3dbef1, #ffffff);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            .text {
                display: flex;
                gap: 20px;
                font-family: Poppins-Regular;
                letter-spacing: 0.7;
                line-height: 28px;
            }
        }
        
    }
    .subDiv {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 769px) {
    .completedHeroSec {
        .container {
            .contents {
                .title {
                    text-align: center;
                }
            }
        }
    }
}

@media screen and (max-width: 426px) {
    .completedHeroSec {
        margin-top: 80px;
        padding: 0;
        .container {
            background-color: transparent;

            .contents {
                .title {
                    font-size: 40px;
                    margin-block: 30px;
                }
                .text {
                    font-size: 14px;
                }
            }
        }
        .subDiv {
            background: transparent;
            padding: 0;

            img {
                width: 400px;
                height: 250px;
            }
        }
    }
}