@use "../../../../scss/main" as *;

.growthRepSec {
    display: flex;
    align-items: end;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;

    .leftSec {
        max-width: 600px;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .title {
            font-family: RacingSansOne;
            letter-spacing: 1;
            font-size: 50px;
            background: linear-gradient(90deg, #17BEFF 0%, #FCFFFF 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .contents {
            display: flex;
            align-items: center;
            gap: 50px;
            background: linear-gradient(180deg, rgba(150, 226, 255, 0.34) 0%, rgba(90, 135, 153, 0.34) 100%);
            position: relative;
            padding: 30px 50px;
            border-radius: 20px;

            .bullet {
                position: absolute;
                transform: translate(-80px);
                background: linear-gradient(216.38deg, #17BEFF 20.75%, #1B6582 71.9%);
                padding: 8px 14px;
                border-radius: 50%;

                h1 {
                    font-family: RacingSansOne;
                }
            }

            .text {
                max-width: 450px;
                font-family: Poppins-Regular;
                letter-spacing: 1;
                font-size: 15px;
            }
        }
    }

    .rightSec {
        position: relative;
        display: flex;
        justify-content: center;
        
        .neonEllipse {
            position: absolute;
            top: 0;
            z-index: -1;
            transform: translate(-30px, -50px);
        }
    }
}

@media screen and (max-width: 426px) {
    .growthRepSec {
        .leftSec {
            .contents {
                padding: 30px 30px;
                .bullet {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 376px) {
    .growthRepSec {
        .rightSec {
            .neonEllipse {
                display: none;
            }
        }
    }
}